<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.ienergy.energydash.dao.CompanyImageDao">

    <resultMap id="CompanyImageMap" type="team.ienergy.energydash.beans.CompanyImage">
        <id column="company_name" jdbcType="INTEGER" property="companyName" />
        <id column="image" jdbcType="BLOB" javaType="byte[]" property="picture"/>
    </resultMap>

    <select id="findImage" resultType="hashmap">
        SELECT picture FROM company_pic where company_name=#{companyName}
    </select>

</mapper>