<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.ienergy.energydash.dao.EnergyPlanDao">


    <resultMap id="EnergyPlanResultMap" type="team.ienergy.energydash.beans.EnergyPlan">
        <id column="pid" jdbcType="VARCHAR" property="pid" />
        <id column="plan_name" jdbcType="VARCHAR" property="planName" />
        <id column="company_name" jdbcType="VARCHAR" property="companyName" />
        <id column="customer_type" jdbcType="VARCHAR" property="customerType" />
        <id column="postcode" jdbcType="VARCHAR" property="postcode" />
        <id column="tariff_type" jdbcType="VARCHAR" property="tariffType" />
        <id column="is_demand" jdbcType="INTEGER" property="isDemand" />
        <id column="supply_price" jdbcType="VARCHAR" property="supplyPrice" />
        <id column="single_price" jdbcType="VARCHAR" property="singlePrice" />
        <id column="usage_limit" jdbcType="INTEGER" property="usageLimit" />
        <id column="usage_price1" jdbcType="VARCHAR" property="usagePrice1" />
        <id column="usage_price2" jdbcType="VARCHAR" property="usagePrice2" />
        <id column="peak_price" jdbcType="VARCHAR" property="peakPrice" />
        <id column="off_peak_price" jdbcType="VARCHAR" property="offPeakPrice" />
        <id column="shoulder_price" jdbcType="VARCHAR" property="shoulderPrice" />
        <id column="tou1" jdbcType="INTEGER" property="tou1" />
        <id column="tou2" jdbcType="INTEGER" property="tou2" />
        <id column="tou3" jdbcType="INTEGER" property="tou3" />
        <id column="tou4" jdbcType="INTEGER" property="tou4" />
        <id column="tou5" jdbcType="INTEGER" property="tou5" />
        <id column="tou6" jdbcType="INTEGER" property="tou6" />
        <id column="p1id" jdbcType="INTEGER" property="p1id" />
        <id column="p2id" jdbcType="INTEGER" property="p2id" />
        <id column="p3id" jdbcType="INTEGER" property="p3id" />
        <id column="p4id" jdbcType="INTEGER" property="p4id" />
        <id column="p5id" jdbcType="INTEGER" property="p5id" />
        <id column="p6id" jdbcType="INTEGER" property="p6id" />
        <id column="demand_start" jdbcType="INTEGER" property="demandStart" />
        <id column="demand_end" jdbcType="INTEGER" property="demandEnd" />
        <id column="demand_price" jdbcType="VARCHAR" property="demandPrice" />
    </resultMap>

    <select id ="getEnergyPlan" resultMap="EnergyPlanResultMap">
        SELECT * FROM energy_plan
        WHERE 1 = 1
        AND pid = #{pid,jdbcType = VARCHAR}
    </select>

</mapper>