<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.ienergy.energydash.dao.UsageDao">

    <resultMap id="UsageResultMap" type="team.ienergy.energydash.beans.Usage">
        <id column="email" jdbcType="VARCHAR" property="email" />
        <id column="user_name" jdbcType="VARCHAR" property="userName" />
        <id column="house_type" jdbcType="VARCHAR" property="houseType" />
        <id column="room_number" jdbcType="VARCHAR" property="roomNumber" />
        <id column="address" jdbcType="VARCHAR" property="address" />
        <id column="contract_period" jdbcType="VARCHAR" property="contractPeriod" />
    </resultMap>

    <select id="getUsage" resultMap="UsageResultMap"  >
        SELECT * FROM usage_habit
        where 1=1 and email = #{email,jdbcType = VARCHAR}
        and password = #{password,jdbcType = VARCHAR}
    </select>

    <update id="updateUsageProfile">
        UPDATE usage_habit
        <if test="userName != null and userName != ''">
            set user_name = #{userName,jdbcType = VARCHAR}
        </if>
        <if test="email != null and email !=''">
            ,email = #{email,jdbcType = VARCHAR}
        </if>
        <if test="password != null and password !=''">
            ,password = #{password,jdbcType = VARCHAR}
        </if>
        <if test="roomNumber != null and roomNumber !=''">
            ,room_number = #{roomNumber,jdbcType = VARCHAR}
        </if>
        <if test="houseType != null and houseType !=''">
            ,house_type = #{houseType,jdbcType = VARCHAR}
        </if>
        <if test="address != null and address !=''">
            ,address = #{address,jdbcType = VARCHAR}
        </if>
        where email = #{originalEmail,jdbcType = VARCHAR}

    </update>

</mapper>