<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.ienergy.energydash.dao.UserDao">

  <resultMap id="UserResultMap" type="team.ienergy.energydash.beans.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <id column="email" jdbcType="VARCHAR" property="email" />
    <id column="user_name" jdbcType="VARCHAR" property="userName" />
    <id column="password" jdbcType="VARCHAR" property="password" />
    <id column="postcode" jdbcType="VARCHAR" property="postcode" />
    <id column="plan_id" jdbcType="VARCHAR" property="planId" />
    <id column="image" jdbcType="BLOB" property="image" />
  </resultMap>

  <select id="findAll" resultMap="UserResultMap"  >
        SELECT * FROM user
  </select>

  <select id="getUser" resultMap="UserResultMap"  >
        SELECT * FROM user
        where 1=1 and email = #{email,jdbcType = VARCHAR}
  </select>

  <insert id="signUp" parameterType="team.ienergy.energydash.beans.User">
        INSERT INTO user
        (user_name, email, password, postcode, plan_id, image)
        VALUE
        (#{userName},#{email},#{password},#{postcode},#{planId},#{image})

  </insert>


  <select id="signIn" resultMap="UserResultMap">
    select * from user
    where 1=1
    <if test="email != null and email !=''">
      <![CDATA[
             and email = #{email,jdbcType = VARCHAR}
            ]]>
    </if>
    <if test="password != null and password !=''">
      <![CDATA[
             and password = #{password,jdbcType = VARCHAR}
            ]]>
    </if>
  </select>





</mapper>